{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <div class="container form-container">
        <div class="card shadow">
            <h5 class="text-center mb-4">Create New Page</h5>
            <form method="post" action="{% url 'createpage' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}